

# 最初にすべての階層のファイルを無視する
### all ignore ###
/*
/.**


# 管理対象のファイルをホワイトリストで追記
### not ignore ###

!/.bin
!/.bin/**
!/.zshrc
!/.config
!/.config/**

!/.tmux.conf

!/.bashrc

!/dotlocal
/dotlocal/**


!/README.md
!/LICENSE
!.gitignore
!.gitkeeo
